{{ if .wes }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">{{ i18n "wes" }}</h2>
    </div>
    <div class="sideSection__content">
        <ul class="wes">
            {{ range .wes }}
                <li class="wes__item">
                    {{ $image := resources.Get (delimit ( slice "docs/" (delimit (slice . ".jpg") "")) "" ) }}
                    <a href="{{ $image.RelPermalink }}">
                    {{ $image := $image.Resize "x15" }}
                    Jolene
                    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">                
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
